<% var title="Consolify - Page 404" %>

<%- include('header.ejs', { title: title }) %>

    <div class="container-image">
        <div class="flex">
            <div class="oups">OUPS!</div>
            <p>Cette page n'existe pas</p>
            <div class="btn-transparent"><a href="/">HOME</a></div>
        </div>
    </div>
</body>
</html>