<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <script src="https://kit.fontawesome.com/4ddd40e4dc.js" crossorigin="anonymous"></script>
        <link rel="icon" href="../pictures/consolify.png" type="image/x-icon">
        <script src="../js/main.js" defer></script>
        <title><%= title %></title>
    </head>
<body>
    <div class="loader" id="loader">
        <div class="loader-inner"></div>
    </div>
    <% if (typeof pseudo !== 'undefined') { %>
        <div id="barre" class="uppercase">Bienvenue, <%= pseudo %> !
            <div id="fermer"><i class="fa-regular fa-circle-xmark"></i></div>
        </div>
        
    <% } %>