<% var title="Consolify" %>

<%- include('header.ejs', { title: title }) %>

    <div class="container-landing-page flex">
        <div class="flex">
            <a href="/theme-quiz-back">
                <h1>Back end</h1>
                <span><i class='fab fa-dev'></i>eloper</span>
            </a>
        </div>
        <div class="line"></div>
        <div class="flex">
            <a href="/theme-quiz-front">
                <h1>Front end</h1>
                <span><i class='fab fa-dev'></i>eloper</span>
            </a>
        </div>
    </div>
</body>
</html>